html, body {
  height: 100%;
  margin: 0;
} 

body{
  background: linear-gradient(to bottom, #761919, #de2a2a);
}

.header-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

#headerLogo{
  margin-top: 5vh;
  max-width: 150px;
  height: auto;
  display: block;
}

#header-text{
  font-family: "Lilita one";
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7vh;
}

#header-text2{
  font-family: "Lilita one";
  color: white;
  font-size: 3vh;
  margin-top: 0px;
}

/* RESPONSIVENESS */

/*Tablets/Ipads*/
@media (max-width: 1500px) {
  #headerLogo {
    max-width: 100px;
  }
  #header-text{
    font-size: 6vh;
  }
  #header-text2{
    font-size: 2vh;
  }
}
