html, body {
  height: 100%;
  margin: 0;
} 

body{
  background: linear-gradient(to bottom, #761919, #de2a2a);
}

/* Main Page*/

.header-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

#headerLogo{
  margin-top: 5vh;
  max-width: 150px;
  height: auto;
  display: block;
}

#header-text{
  font-family: "Lilita one";
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7vh;
}

#header-text2{
  font-family: "Lilita one";
  color: white;
  font-size: 3vh;
  margin-top: 0px;
}

#lower-part{
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text0{
  font-family: "Lilita one";
  color: white;
}

#account-btn{
  margin: 1vh;
  padding: 3vh;
  border: 1px solid #ff6363;
  border-radius: 30px;
  background-color: #ff6363;
  font-family: "Lilita one";
  font-size: 3vh;
  color: white;
}

#account-btn:active{
  background-color: #aa4646;
  border-color: #aa4646;
}

#orTXT{
  font-family: "Lilita one";
  color: white;
}

#check-btn{
  margin: 1vh;
  padding: 2vh;
  border: 1px solid #ff6363;
  border-radius: 30px;
  background-color: #ff6363;
  font-family: "Lilita one";
  font-size: 2vh;
  color: white;
}

#check-btn:active{
  background-color: #aa4646;
  border-color: #aa4646;
}

/* Create Account */

#container1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createtxt{
  font-family: "Lilita one";
  color: white;
}

.CA-input{
  margin-top: 4vh;
  border: 1px ;
  border-radius: 30px;
  padding: 2vh;
}

.CA-input::placeholder{
  color: rgb(0, 0, 0, 0.6);
  font-family: "Lilita one";
}

#passwordCB{
  margin-top: 2vh;
  font-family: "Lilita one";
  color: white;
  font-size: 2vh;
  transform: translateX(-4vh);
}

#CA-btn{
  padding: 2vh;
  margin-top: 4vh;
  border: 1px solid #ff6363;
  border-radius: 30px;
  background-color: #ff6363;
  font-family: "Lilita one";
  font-size: 2vh;
  color: white;
}

#CA-btn:active{
  background-color: #aa4646;
  border-color: #aa4646;
}

/* Userpages */

#headerLogo2{
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  max-width: 100px;
  height: auto;
  display: block;
}

#userHeader{
  padding: 0.5vh;
  background-color: #ae3333;
  display: flex;
  flex-direction: row;
}

#displayUser{
  color: white;
  font-family: "Lilita one";
  align-self: center;
  margin-left: 3vh;
}

#logoutBTN{
  background-color: #ff6363;
  margin-left: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 5vh;
  border: 1px solid #ff6363;
  border-radius: 30px;
  max-width: 150px;
  width: 20vh;
  color: white;
  font-family: "Lilita one";
  font-size: 3vh;
}

#logoutBTN:active{
  background-color: #aa4646;
  border: #aa4646;
}

/* Card Component */

#containerCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TCard{
  margin: 4vh;
  border: 1px solid #ffa5a5;
  background-color: #ffa5a5;
  border-radius: 10px;
  max-width: 20vw;
  max-height: 40vh;
  width: 15vw;
  height: 35vh;
}

#TnD{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.WhiteCard{
  border: 3px solid white;
  background-color: white;
  border-radius: 10px;
  max-height: 35vh;
  height: 25vh;
  margin: 1vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  text-align: center;
}

/* Message Sender */

#container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#SendMessageTXT{
  font-family: "Lilita one";
  color: white;
}

#MessageInput{
  width: 30vw;
  height: 30vh;
  padding: 2vh;
  border: 5px solid maroon;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
  line-height: normal;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#SubmitMessageBTN{
  margin-top: 5vh;
  padding: 2.5vh;
  max-width: 25vh;
  width: 20vh;
  background-color: #ff6363;
  border: 1px solid #ff6363;
  border-radius: 30px;
  color: white;
  font-family: "Lilita one";
  font-size: 2.5vh;
}

#SubmitMessageBTN:active{
  background-color: #aa4646;
  border-color: #aa4646;
}

/* RESPONSIVENESS */

@media (max-width: 1500px) {
  #headerLogo {
    max-width: 100px;
  }
  #header-text{
    font-size: 6vh;
  }
  #header-text2{
    font-size: 2vh;
  }
  #account-btn{
    padding: 2vh;
    font-size: 2vh;
  }
  #text0{
  font-size: 2vh;
  }

  #headerLogo2{
  margin-top: 2vh;
  max-width: 80px;
  height: 50%;
  display: block;
}

#userHeader{
  padding: 0.5vh;
  background-color: #ae3333;
  display: flex;
  flex-direction: row;
}

#displayUser{
  font-size: 3vh;
}

#logoutBTN{
  max-width: 110px;
  width: 20vh;
  font-size: 2vh;
}
#containerCard{
  flex-direction: column;
  align-items: center;
}
.TCard{
margin: 3vh;
max-width: 70vh;
width: 30vh;
}
.WhiteCard{
  max-height: 30vh;
  height: 65%;
  font-size: 2vh;
}

}
